<template>
    <div class="user">
        <div class="colomn-l">
            <div class="back">
                <a href="#">${user.info.last_name} ${user.info.first_name}</a>
            </div>
                <ul class="friends-row">
                   <li class="box" repeat.for="fr of user.friends">
                        <a href="#users/${fr.uid}">${fr.last_name} ${fr.first_name}</a>
                    </li>
                </ul>
        </div>
        <div class="colomn-r">
            <div class="vk-logo">
                <img src="http://image.flaticon.com/icons/svg/25/25684.svg" alt="" />
            </div>
            <ul class="wall">
                <li repeat.for="wall of user.wall" if.bind="wall.text" class="box" innerhtml.bind="wall.text"></li>
            </ul>         
        </div>
    </div>
</template>